<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J"/>
  </settings>
  <typeAliases>
    <typeAlias alias="ImageTypeEnumHandler"
      type="com.liferyan.tmall.data.utils.ImageTypeEnumHandler"/>
    <typeAlias alias="OrderStatusEnumHandler"
      type="com.liferyan.tmall.data.utils.OrderStatusEnumHandler"/>
    <package name="com.liferyan.tmall.data.entity"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="ImageTypeEnumHandler"
      javaType="com.liferyan.tmall.data.entity.ImageTypeEnum"/>
    <typeHandler handler="OrderStatusEnumHandler"
      javaType="com.liferyan.tmall.data.entity.OrderStatusEnum"/>
  </typeHandlers>
  <mappers>
    <mapper resource="mappers/UserMapper.xml"/>
    <mapper resource="mappers/CategoryMapper.xml"/>
    <mapper resource="mappers/PropertyMapper.xml"/>
    <mapper resource="mappers/ProductMapper.xml"/>
    <mapper resource="mappers/PropertyValueMapper.xml"/>
    <mapper resource="mappers/ProductImageMapper.xml"/>
    <mapper resource="mappers/ReviewMapper.xml"/>
    <mapper resource="mappers/OrderMapper.xml"/>
    <mapper resource="mappers/OrderItemMapper.xml"/>
  </mappers>
</configuration>