<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liferyan.tmall.data.entity">

  <insert id="saveProductImage" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO product_image (pid, type)
    VALUES (#{product.id},
    #{imageType,typeHandler=ImageTypeEnumHandler})
  </insert>

  <delete id="deleteProductImage">
    DELETE FROM product_image
    WHERE id = #{id}
  </delete>

  <sql id="joinSelectProductImage">
    SELECT
      pi.id            AS 'pi_id',
      pi.type          AS 'pi_type',
      p.id             AS 'p_id',
      p.name           AS 'p_name',
      p.subtitle       AS 'p_subTitle',
      p.original_price AS 'p_originalPrice',
      p.promote_price  AS 'p_promotePrice',
      p.create_date    AS 'p_createDate',
      p.stock          AS 'p_stock'
    FROM product_image AS pi
      LEFT OUTER JOIN product AS p ON pi.pid = p.id
  </sql>

  <sql id="selectProductImage">
    SELECT
      id,
      pid,
      type
    FROM product_image
  </sql>

  <resultMap id="productImageResult" type="productImage">
    <id column="pi_id" property="id"/>
    <result column="pi_type" property="imageType" javaType="ImageTypeEnum"
      typeHandler="ImageTypeEnumHandler"/>
    <association property="product" javaType="product" columnPrefix="p_" resultMap="productMap"/>
  </resultMap>

  <select id="getProductImageById" resultMap="productImageResult">
    <include refid="joinSelectProductImage"/>
    WHERE pi.id = #{id}
  </select>

  <select id="listProductImage" resultMap="productImageResult">
    <include refid="joinSelectProductImage"/>
    WHERE p.id = #{product.id}
    AND pi.type = #{imageType,typeHandler=ImageTypeEnumHandler}
    ORDER BY pi.id DESC
  </select>

  <select id="firstProductImageSelect" resultMap="productImageMap">
    <include refid="selectProductImage"/>
    WHERE pid = #{pid} AND type = 'type_single'
    LIMIT 1
  </select>

  <select id="singleProductImageListSelect" resultMap="productImageMap">
    <include refid="selectProductImage"/>
    WHERE pid = #{pid} AND type = 'type_single'
  </select>

  <select id="detailProductImageListSelect" resultMap="productImageMap">
    <include refid="selectProductImage"/>
    WHERE pid = #{pid} AND type = 'type_detail'
  </select>

  <resultMap id="productImageMap" type="productImage">
    <id column="id" property="id"/>
    <result column="type" property="imageType" javaType="ImageTypeEnum"
      typeHandler="ImageTypeEnumHandler"/>
    <association column="pid" property="product" javaType="product">
      <id column="pid" property="id"/>
    </association>
  </resultMap>
</mapper>