<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liferyan.mybatis.entity">

  <insert id="savePropertyValue" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO property_value (ppid, pid) VALUES (#{ppid}, #{pid})
  </insert>

  <update id="updatePropertyValue">
    UPDATE property_value
    SET value = #{value}
    WHERE id = #{id}
  </update>

  <sql id="joinSelectPropertyValue">
    SELECT
      pv.id            AS 'pv_id',
      pv.value         AS 'pv_value',
      pp.id            AS 'pp_id',
      pp.name          AS 'pp_name',
      p.id             AS 'p_id',
      p.name           AS 'p_name',
      p.subtitle       AS 'p_subTitle',
      p.original_price AS 'p_originalPrice',
      p.promote_price  AS 'p_promotePrice',
      p.create_date    AS 'p_createDate',
      p.stock          AS 'p_stock'
    FROM property_value AS pv
      LEFT OUTER JOIN property AS pp ON pv.ppid = pp.id
      LEFT OUTER JOIN product AS p ON pv.pid = p.id
  </sql>

  <select id="getPropertyValue" resultMap="propertyValueResult">
    <include refid="joinSelectPropertyValue"/>
    WHERE p.id = #{pid} AND pp.id = #{ppid}
  </select>

  <select id="listPropertyValue" resultMap="propertyValueResult">
    <include refid="joinSelectPropertyValue"/>
    WHERE p.id = #{pid}
  </select>

  <resultMap id="propertyValueResult" type="propertyValue">
    <id column="pv_id" property="id"/>
    <result column="pv_value" property="value"/>
    <association property="property" javaType="property">
      <id column="pp_id" property="id"/>
      <result column="pp_name" property="name"/>
    </association>
    <association property="product" javaType="product" columnPrefix="p_" resultMap="productMap"/>
  </resultMap>
</mapper>