<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liferyan.mybatis.entity">

  <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user (name, password) VALUES (#{name}, #{password})
  </insert>

  <delete id="deleteUser">
    DELETE FROM user
    WHERE id = #{id}
  </delete>

  <!--可重用的 SQL 代码段-->
  <sql id="selectUser">
    SELECT
      id,
      name,
      password
    FROM user
  </sql>

  <select id="getUserById" resultType="user">
    <include refid="selectUser"/>
    WHERE id = #{id}
  </select>

  <select id="getUserByName" resultType="user">
    <include refid="selectUser"/>
    WHERE name = #{name}
  </select>

  <select id="getUserByNameAndPassword" resultType="user">
    <include refid="selectUser"/>
    WHERE name = #{name} AND password = #{password}
  </select>

  <select id="listUserByPage" resultType="user">
    <include refid="selectUser"/>
    ORDER BY id
    LIMIT #{count} OFFSET #{start}
  </select>

  <select id="listUser" resultType="user">
    <include refid="selectUser"/>
    ORDER BY id
  </select>

  <select id="getUserCount" resultType="_int">
    SELECT COUNT(*)
    FROM user
  </select>
</mapper>