<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">

  <!-- 加载classpath下的db.properties文件，里面配了数据库连接的一些信息 -->
  <context:property-placeholder location="classpath:jdbc.properties"/>

  <!-- 配置数据源 -->
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${db_driver}"/>
    <property name="url" value="${db_url}"/>
    <property name="username" value="${db_username}"/>
    <property name="password" value="${db_password}"/>
  </bean>

  <!-- 配置sqlSessionFactory，SqlSessionFactoryBean是用来产生sqlSessionFactory的 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="configLocation" value="classpath:mybatis-config.xml"/>
    <!-- 加载数据源，使用上面配置好的数据源 -->
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="userDao" class="com.liferyan.tmall.data.dao.UserDao"/>
  <bean id="categoryDao" class="com.liferyan.tmall.data.dao.CategoryDao"/>
  <bean id="productDao" class="com.liferyan.tmall.data.dao.ProductDao"/>
  <bean id="propertyDao" class="com.liferyan.tmall.data.dao.PropertyDao"/>
  <bean id="propertyValueDao" class="com.liferyan.tmall.data.dao.PropertyValueDao"/>
  <bean id="productImageDao" class="com.liferyan.tmall.data.dao.ProductImageDao"/>
  <bean id="reviewDao" class="com.liferyan.tmall.data.dao.ReviewDao"/>
  <bean id="orderDao" class="com.liferyan.tmall.data.dao.OrderDao"/>
  <bean id="orderItemDao" class="com.liferyan.tmall.data.dao.OrderItemDao"/>
</beans>